{% extends 'base.html' %}
{% block title %}Book Detail - BookSpotter{% endblock %}
{% block content %}
{% load static %}
<div class="flex flex-col md:flex-row h-auto">
   <div class="relative w-2/5 h-3/5 flex self-center md:self-start">
      <img class="self-center md:self-start w-32 h-48 md:w-48 md:h-64 lg:w-72 lg:h-2/5 border border-gray-300 rounded" 
           alt="Book Cover"
           src="{{ book.image }}">
   </div>
   <div class="p-4 md:ml-5 md:p-0">
      <div class="border-b-2 border-gray-300 pb-6 md:pb-6 lg:pb-4">
         <p class="font-bold text-xl md:text-2xl">
            {{ book.title }}
         </p>
         <p class="pt-1 md:pt-2 text-gray-600">
            {{ book.authors }}
         </p>
         <p class="text-3xl hidden lg:flex font-bold text-orange-400 pt-2">
            ${{ book.price|default:"-" }}
         </p>
         <p class="pt-4 text-gray-600">
            <span class="font-bold">Average Rating:</span> {{ book.avg_rating|default:"-" }}
         </p>
         <p class="text-gray-600">
            <span class="font-bold">Number of Reviews:</span> {{ book.n_reviews|default:"-" }}
         </p>
      </div>
      <div class="mt-6 md:mt-6 lg:mt-4">
         <p class="text-gray-600 font-bold">
            Additional Information
         </p>
         <div class="flex flex-col lg:flex-row">
            <div>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Width:</span> {{ book.width_value|default:"-" }} {{ book.dim_unit }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Depth:</span> {{ book.depth_value|default:"-" }} {{ book.dim_unit }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Length:</span> {{ book.length_value|default:"-" }} {{ book.dim_unit }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">ISBN-13:</span> {{ book.isbn|default:"-" }}
               </p>
            </div>
            <div class="lg:ml-20">
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Weight:</span> {{ book.weight_value|default:"-" }} {{ book.weight_unit }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Language:</span> {{ book.language|default:"-" }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Publisher:</span> {{ book.publisher|default:"-" }}
               </p>
               <p class="pt-2 text-gray-600">
                  <span class="font-bold">Publish Date:</span> {{ book.publish_date|default:"-" }}
               </p>
            </div>
         </div>
      </div>
      <div class="mt-6">
         <a href="{{ book.link }}" target="_blank" rel="noopener noreferrer">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
               Buy Now
            </button>
         </a>
      </div>
   </div>
</div>
{% endblock %}